// ==|== media queries ========================================================
// ============================================================================

@media only screen and (min-width: 480px) {

	.row .wrap {
		float: left;
		width: 50%;
	}
	main .row article.spec_reach .wrap {
		width: 100%;
	}

}

@media only screen and (min-width: 768px) {

	main .row .wrap {
		width: 25%;
	}
	main .row article.spec_reach .wrap {
		width: 50%;
	}

}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { // IE10 & IE11
}