// SASS Variables
// ----------------------------------------------------------------------------
$hsl_red:      hsl(0,80%,60%);
$hsl_yellow:   hsl(45,100%,50%);
$hsl_orange:   hsl(18,100%,50%);
$hsl_L0:       hsl(0,0%,0%);
$hsl_L20:      hsl(0,0%,20%);
$hsl_L100:     hsl(0,0%,100%);

// One stylesheet to rule them all
// ----------------------------------------------------------------------------
@import 'base';
@import 'main';
@import 'queries';